h1 {
    font-family: "Righteous", cursive;
    font-size: 3rem;
    letter-spacing: 2px;
}  
  
  .wormy {
    padding: 3px 2px 0 0;
    align-text: center;
    animation: wormy-spin infinite 4s linear;
  }

@keyframes wormy-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
