body {
	padding: 0;
	height: 70%;
}

p {
	margin: 0;
}

img {
	margin-top: 30px;
	max-width: 60%;
	padding: 0px 0 10px 0;
}
.page-wrap {
	border-radius: 5px;
	background-color: #dbda2a;
}
.page-hero {
	padding: 30px 0;
	background-color: #148cdb;
	text-align: center;
}
.hero-logo {
	--xyz-rotate: right-100;
	width: 10vw;
	height: 10vw;
	padding: px 0 0px 0;
	border-radius: 50%;
	background-color: BLACK;
	margin: 0 auto;
	margin-bottom: 10px;
}

.hero-text {
	font-weight: bolder;;
}
.page-features {
	padding: 30px 0;
	display: flex;
	justify-content: center;
}
.feature-item {
	width: 25vw;
	height: 20vh;
	border-radius: 5px;
	background-color: rgb(4, 33, 43);
	margin: 0 10px;
}
.page-section {
	margin: 15px;
	background-color: #998f02;
	border-radius: 5px;
	padding: 15px;
	display: flex;
}
.section-left {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.section-item {
	background-color: #148cdb;
	width: 80%;
	height: 5vh;
	border-radius: 5px;
	margin: 5px 0;
	background-color: ç;
}
.section-right {
	background-color: #148cdb;
	border-radius: 5px;
	width: 50%;
}

.page-footer {
	background-color: #148cdb;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
}
.footer-logo {
	height: 30px;
	width: 30px;
	padding: 5px;
	/* margin: 3px; */
	border-radius: 50%;
	background-color: black;
}
.footer-right {
	display: flex;
	background-color: rgb(42, 7, 7);
}
.footer-item {
	background-color: rgb(42, 7, 7);
	width: 50px;
	border-radius: 10px;
	margin: 5px;
}